



.learn{
    background-image: url("/src//assets/learning.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    height: 300px;
}